
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="jquery.min.js"></script>
  	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
	
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="home-guest">Home</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">	        
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
	        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
  
    
     <!-- Page Content -->
     <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Theaters
  <!--        <small>Secondary Text</small>-->
        </h1>
      
      <br>
  
      <ul class="theatersArray">
        <li *ngFor="let t of theatersArray; let i = index">
  
            <div class="row">
                <div class="col-md-5">
                  <!-- <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/400x300" alt="">
                  </a> -->

                  <agm-map [latitude]="latitudes[i]" [longitude]="longitudes[i]" >
                    <agm-marker [latitude]="latitudes[i]" [longitude]="longitudes[i]" ></agm-marker>
                  </agm-map>

                </div>
                <div class="col-md-5">
                  <h3>{{t.name}}</h3>
                  <br>
                  <p><b>Address: </b> {{t.adress}}</p>
                  <p> <b>Description: </b>{{t.description}}</p>

                  <br><br><br><br><br>

                  <button type="button" class="btn btn-primary" (click)="onClickTheaterDetails(t)">Details</button>

                </div>
              </div>
  
              <hr>
  
        </li>
      </ul>
  
  
    </div>
      <!-- /.container -->

