
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="jquery.min.js"></script>
  	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
	
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="home-guest">Home</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">	        
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
	        <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
    
      
      <div class="row">
        <div class="col-sm-6">
        <!-- Page Heading -->
          <h1 class="my-4" align="center">Cinemas</h1>
          <div class="card h-100" align="center">
            <a href="view-cinemas"><img class="card-img-top" src="assets/images/cinema.jpg" alt="" height="400" width="500"></a>
            <div class="card-body">   
            </div>
          </div>
            <br>
          <div align="center">
            <a class="btn btn-primary" href="view-cinemas">View Cinemas</a>
            </div>
        </div>
        <div class="col-sm-6">
            <h1 class="my-4" align="center">Theaters</h1> 
          <div class="card h-100" align="center">
            <a href="view-theaters"><img class="card-img-top" src="assets/images/theater.jpg" alt="" height="400" width="500"></a>
            <div class="card-body">
            </div>
          </div>
            <br>
          <div align="center">
             <a class="btn btn-primary" href="view-theaters">View Theaters</a>
           </div>    
        </div>
        
    
      </div>
      <!-- /.row -->

	

