<ngb-tabset>
    <ngb-tab title="user profile">
        <ng-template ngbTabContent>
          <app-user-profile-page></app-user-profile-page>
        </ng-template>
      </ngb-tab>
      <ngb-tab title=" cinemas">
          <ng-template ngbTabContent>
            <app-view-cinemas></app-view-cinemas>
          </ng-template>
        </ngb-tab>
    <ngb-tab title=" theaters">
      <ng-template ngbTabContent>
          <app-view-theaters></app-view-theaters>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="friends">
        <ng-template ngbTabContent>
          <app-friends></app-friends>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="reservated tickets">
          <ng-template ngbTabContent>
            <app-ticket-preview></app-ticket-preview>
          </ng-template>
       </ngb-tab>
       <ngb-tab title="ticket reservation">
          <ng-template ngbTabContent>
            <app-reservation></app-reservation>
          </ng-template>
       </ngb-tab>
</ngb-tabset>