
<script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBWhwJkhsPej0DGz5a0MKu-x_24m6RBVYc"></script>

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home-guest">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register"><span class="glyphicon glyphicon-user"></span>Register</a>
      </li>
    </ul>
  </nav>

  
    
    
    <!-- Page Content -->
  <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">Cinemas
<!--        <small>Secondary Text</small>-->
      </h1>
    
    <br>

    <ul class="cinemasArray">
      <li *ngFor="let c of cinemasArray; let i = index">

          <div class="row">
              <div class="col-md-5">
                <!-- <a href="#">
                  <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/400x300" alt="">
                </a> -->
                
                <agm-map [latitude]="latitudes[i]" [longitude]="longitudes[i]" >
                  <agm-marker [latitude]="latitudes[i]" [longitude]="longitudes[i]" ></agm-marker>
                </agm-map>
              </div>
              <div class="col-md-5">
                  <div class="row">
                      <div class="col"><h3>{{c.name}}</h3></div>
                      <div class="col">
                          <div class="float-right"><button type="button" value="submit" [hidden]="isAdminArray[i]" (click)="onClickCinemaDetails(c)" class="btn btn-info">Details</button></div>
                      </div>
                    </div>
                
                <br>
                <p><b>Address: </b> {{c.adress}}</p>
                <p> <b>Description: </b>{{c.description}}</p>

                <br><br><br><br>

                <button type="button" class="btn btn-primary" (click)="onClickCinemaRepertoar(c)">Repertoire</button>

              </div>
            </div>

            <hr>

      </li>
    </ul>


  </div>
    <!-- /.container -->

